*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  display: flex;
  background:#666;
  justify-content: flex;
}
.kotakn .teks
{
  position: relative;
  font-size: 30px;
  top: 20px;
  left: 20px;
}
.kotakn
{
  position: absolute;
  height: 120px;
  width: 280px;
  background: white;
  border-radius: 5%;
}
.boxP
{
  position: relative;
  width: 200px;
  height: 70px;
  background: white;
  top: 155px;
  border-radius: 5%;
}
.boxP .portofolio
{
  position: relative;
  font-size: 20px;
  top: 20px;
  left: 40px;
}
.boxb
{
  position: relative;
  width: 200px;
  height: 70px;
  background: white;
  top: 255px;
  border-radius: 5%;
  right: 199px;
}
.boxb .bulan
{
  position: relative;
  font-size: 20px;
  top: 22px;
  left: 60px;
}